.header {
  margin: 0;
  padding: 0 20px 0 11px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60px;
  font-size: 18px;
  color: var(--text-color1);
  font-weight: 400;
  background: rgba(255, 255, 255, 0.144);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 15;
}

.navWrapper {
  display: flex;
  width: 100vw;
  max-width: 1300px;
  padding-right: 13px;
  align-self: center;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navItem > svg {
  margin: 0 -10px 0 -2px;
  align-self: flex-end;
  fill: rgb(255, 255, 255);
  transform: rotate(-90deg);
  transition: 0.2s;
}

.navList:hover .navItem > svg {
  transform: rotate(0deg);
  fill: var(--action-color);
}

.navLink {
  transition: 0.2s;
}

.navList:hover .navLink {
  color: var(--action-color);
}

.logo {
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logoImage {
  transition: 0.3s;
  transform-origin: center;
  height: 40px;
}

.logo > h2 {
  padding: 0;
  margin: 0;
}

.navLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.navRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navList {
  padding: 10px 10px;
  cursor: pointer;
  transition: 0.3s;
}

.navListWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.walletButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  color: rgb(255, 255, 255);
  border: 2px solid var(--action-color);
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 8px;
}

.walletButton:hover {
  border: 2px solid var(--action-color);
  background-color: var(--action-color);
  transform: scale(1.05);
}

.walletButtonWrapper {
  position: relative;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Nav Stuff*/

.navList:hover .dropdownWrapper {
  display: block;
}

.dropdownWrapper {
  display: none;
  position: absolute;
  z-index: 5;
}

.dropdown {
  font-size: 17px;
  margin-top: 1.5rem;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.144);
  border-radius: 8px;
  overflow: hidden;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
}

.dropdown > div {
  padding: 10px 10px;
}

.dropdownWrapper:hover {
  display: block;
}

.menuItem {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
}

.menuItem:hover {
  color: var(--action-color);
}

.iconButton > svg {
  fill: #fff;
  height: 2.2rem;
}

/* Token Price */

.priceWrapper {
  padding: 0 1rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.tokenIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tokenIcon {
  border-radius: 100px;
}

.tokenPrice {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  line-height: 1.7rem;
  color: var(--text-color1);
}

.tokenPrice > h3 {
  font-size: 1.5rem;
  color: var(--text-color2);
}
.tokenPrice > p {
  font-size: 1.7rem;
  color: var(--text-color);
}

/* Alert Label */

.alertLabel {
  color: var(--action-color2);
  text-shadow: 0px 0px 15px var(--action-color2);
  animation: glow 3s linear infinite;
}

@keyframes glow {
  0% {
    text-shadow: 0px 0px 29px var(--action-color2);
  }
  50% {
    text-shadow: 0px 0px 10px var(--action-color2);
  }
  100% {
    text-shadow: 0px 0px 29px var(--action-color2);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.mobileNav {
  display: none;
}

@media (max-width: 750px) {
  .header {
    display: none;
  }
  .mobileNav {
    display: block;
  }
}
