.pawPrints {
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  max-width: 1500px;
  height: 100%;
  z-index: 0;
}

.pawPrints > img {
  position: absolute;
  width: 80px;
}

.pawPrints > img:nth-of-type(1) {
  transform: rotate(150deg);
  left: 100px;
  opacity: 0;
  animation: step 10s linear infinite 1s;
  -webkit-animation: step 10s linear infinite 1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.pawPrints > img:nth-of-type(2) {
  top: 200px;
  transform: rotate(150deg);
  left: 25px;
  opacity: 0;
  animation: step 10s linear infinite 1.5s;
  -webkit-animation: step 10s linear infinite 1.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.pawPrints > img:nth-of-type(3) {
  top: 250px;
  transform: rotate(145deg);
  left: 250px;
  opacity: 0;
  animation: step 10s linear infinite 2s;
  -webkit-animation: step 10s linear infinite 2s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.pawPrints > img:nth-of-type(4) {
  top: 450px;
  transform: rotate(150deg);
  left: 125px;
  opacity: 0;
  animation: step 10s linear infinite 2.5s;
  -webkit-animation: step 10s linear infinite 2.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.pawPrints > img:nth-of-type(5) {
  top: 500px;
  transform: rotate(140deg);
  left: 400px;
  opacity: 0;
  animation: step 10s linear infinite 3s;
  -webkit-animation: step 10s linear infinite 3s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.pawPrints > img:nth-of-type(6) {
  top: 750px;
  transform: rotate(140deg);
  left: 355px;
  opacity: 0;
  animation: step 10s linear infinite 3.5s;
  -webkit-animation: step 10s linear infinite 3.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.pawPrints > img:nth-of-type(7) {
  top: 725px;
  transform: rotate(135deg);
  left: 625px;
  opacity: 0;
  animation: step 10s linear infinite 4s;
  -webkit-animation: step 10s linear infinite 4s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.pawPrints > img:nth-of-type(8) {
  top: 950px;
  transform: rotate(125deg);
  left: 675px;
  opacity: 0;
  animation: step 10s linear infinite 4.5s;
  -webkit-animation: step 10s linear infinite 4.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.pawPrints > img:nth-of-type(9) {
  top: 850px;
  transform: rotate(115deg);
  left: 900px;
  opacity: 0;
  animation: step 10s linear infinite 5s;
  -webkit-animation: step 10s linear infinite 5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.pawPrints > img:nth-of-type(10) {
  top: 1050px;
  transform: rotate(120deg);
  left: 1000px;
  opacity: 0;
  animation: step 10s linear infinite 5.5s;
  -webkit-animation: step 10s linear infinite 5.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.pawPrints > img:nth-of-type(11) {
  top: 950px;
  transform: rotate(120deg);
  left: 1200px;
  opacity: 0;
  animation: step 10s linear infinite 6s;
  -webkit-animation: step 10s linear infinite 6s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes step {
  10% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }
}

@-webkit-keyframes step {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 845px){
  .pawPrints{
    display: none;
  }
}